@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap");

.beranda {
  width: 100%;
  height: 200vh;
  /* display:flex; */
  background-color: #233000;
  /* background: url("../../assets/Img/Makanan.jpg"); */
}

.sub-beranda {
  width: 100%;
  display: flex;
  padding-top: 60px;
}

.beranda-kiri {
  background-color: #233000;
  width: 60%;
  height: 165vh;
}

li {
  font-family: "Rufina", serif;
  list-style: none;
  /* padding: 1rem; */
  display: flex;
  /* color: aliceblue; */
}

.headline-hero {
  margin-top: 40px;
}

.headline-hero span {
  font-size: 65px;
  color: #ffffff;
  margin-left: 70px;
  margin-top: 20px;
}

.beranda-kanan {
  width: 50%;
  height: 165vh;
  background-color: #233000;
}

.hero-img {
  display: flex;
  position: relative;
  width: 100%;
  height: 450px;
  left: 0px;
  top: 90px;
}

.ingredients {
  gap: 2rem;
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 100px;
  margin-left: 300px;
}

.ingredients-1 {
  border-radius: 50%;
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid #ffffff;
}

.ingredients-2 {
  border-radius: 50%;
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid #ffffff;
}

.ingredients-3 {
  border-radius: 50%;
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid #ffffff;
}

.img-kiri {
  display: flex;
  width: 100%;
  height: 110px;
  flex-direction: column;
  justify-content: center;
  margin-top: 250px;
  margin-left: 70px;
}

.img-kiri

.img-box {
  width: 375px;
  height: 218px;
  border: 1px solid #ffffff;
}
/* .pagimg{
    height: 140vh; */
/* width: 100%; */
/* } */

/* .ling{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}
.ling-kiri{
    margin-left: 1.8rem;
    height: 20vh;
    width: 20vh;
    background-color: aqua;
    border-radius: 50%;
}
.home-kolom{
    height: 40vh;
    width: 90%;
    background-color: aqua;
    margin: 2rem;
} */
/* Kanan */
/* .lingkaran{
    background-color: rgb(75, 105, 105);
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    box-shadow: 10px 2px 3px  #ffff;
    border: 1px solid #ffff;


}

.back{
    height: 30vh;
    width: 30vh;
    margin-top: 1rem;
    border-radius: 50%;
    box-shadow: -10px -6px 0px  #ffff;
    border: 1px solid #ffff;

}
.back1{
    height: 30vh;
    border: 1px solid #ffff;
    width: 30vh;
    margin-top: -14rem;
    margin-left: 13rem;
    border-radius: 50%;
    box-shadow: 5px -6px 0px  #ffff;
}
.back2{
    height: 30vh;
    width: 30vh;
    margin-top: -2.5rem;
    margin-left: 5rem;
    border-radius: 50%;
    box-shadow: -5px 6px 0px  #ffff;
    border: 1px solid #ffff;

} */
