.loginlagi{
  height: 100vh;
  display: block;
  background-color: #ffffff;

}
.div-nav{
  height: 10vh;
  /* border-radius: 1px solid #000; */
}

.fot-rese{
  display: flex;
  /* margin-top: 20vh; */
}
/* Kanan  */
.forn-container {
  color: #F17228;
  width: 35%;
  height: 67vh;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px 16px rgba(137, 137, 137, 0.133);

  flex-direction: column;
  border-radius: 30px;
  display: flex;
  
  /* margin-top: 1rem; */
  /* margin-left: 9rem; */
  
  gap: 40px;
  /* padding: 30px 20px; */
  text-align: center;
}
.forn-container h2{
  color: #F17228;
  margin-top: 10px;
  text-transform: uppercase;

  
}
.name {
  display: flex;
  justify-content: space-between;
}
.name input {
  width: 50%;
}
.forn-container input {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 1rem;
  background-color: #fff700;

}
.forn-container input[type="checkbox"] {
  background-color: #1a1a1a;

  width: 15px;
  height: 15px;
}

.forn-container button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  background-color: #ffff00;
  color: #212121;
  cursor: pointer;
  font-size: 15px;
  
  width: 30%;
  margin-left: 36%;
}
.forn-container button:hover {
  background-color: #212121;
  color: #fff;
}

.forn-container button:active {
  background-color: #212121;
}
.phon{
  width: 38%;
}


.login-kiri ul{ 
  margin-top: 1rem;
  margin-left: 3rem;
  text-decoration: none;
}
.login-kiri li{
  color: aquamarine;
  list-style: none ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 65px;  
}
.login-kiri li span{
 color: aliceblue;
  font-size: 50px;
  margin-left: -1rem;
}
.loginlagi .login-kiri {
  margin-top: 3.4rem;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 8px rgba(137, 137, 137, 0.133);

  margin-left: 2rem;
  width: 60%;
  background-color:#ffb20e;


  height:50vh;

  

}
.home1-text{
  position: relative;
  max-width: 600px;
}
.home1-txt h2{
  margin-left: 3rem;
  margin-top: 2rem;
  color: rgb(51, 100, 142);
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 900;
  text-transform: uppercase;

}
.home1-txt h2 span{
  font-size: 5.5rem;
  
}
.home1-txt p{
  color: rgb(0, 0, 0);
  margin-left: 4rem;
  line-height: 4rem;


}
.home1-txt a{
  display: inline-block;
  margin-top: 20px;
  /* border: 1px solid #fff; */
  margin-left: 6rem;
  padding: 8px 20px;
  color: aliceblue;
  border-radius: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff7474;
  transition: 0.3s;
}
.home1-txt a:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.login-kiri .home1-txt h2{
  color: #fff;

}


