@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.navbar {
  width: 100%;
  height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  /* justify-content: end; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #323131;


  /* opacity: 0.5; */
  
  /* box-shadow: 0 2px 3px 0 rgba(0,0,0,.1); */
}

.navbar h1{
  /* margin-left: px; */
	margin-right: 480px;
  color: #FFB30E;
	font-family: "Montserrat", sans-serif;
}

nav {
  position: relative;
  margin-right: 10px;
  width: 100%;
  height: 30px;
  background: #323131;

}

nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  /* text-transform: uppercase; */
  color: #FFB30E;
  text-decoration: none;
  line-height: 30px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  
}
nav .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: #feefd0;
  border-radius: 8px;
  transition: all 0.7s ease 0s;
}
nav a:nth-child(1) {
  width: 100px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}
nav a:nth-child(2) {
  width: 100px;
}
nav a:nth-child(2):hover ~ .animation {
  width: 100px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 100px;
}
nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 200px;
}
nav a:nth-child(4) {
  width: 100px;
}
nav a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 300px;
}
/* nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
} */
